version: "3.9"

services:
  image_api:
    build: .
    ports:
      - "8000:8000"
    restart: unless-stopped
    environment:
      UVICORN_WORKERS: 2
    healthcheck:
      test: ["CMD", "curl", "-f", "https://localhost:8000/docs"]
      interval: 30s
      timeout: 5s
      retries: 5

  nginx:
    build: ./nginx
    ports:
      - "80:80"
    volumes:
      - static_volume:/app/static
      - media_volume:/app/media
    depends_on:
      - image_api

volumes:
  postgres_data:
  static_volume:
  media_volume: